
<div class="ArtListWrap">
    <{pagers data=$pager}>
    <h2><{$cat.node_name}></h2>
    <ul class="list">
      <{foreach from=$articles item=article key=key}>
      <li><{if $article.s_url}><img src="<{$env.base_url}><{$article.s_url|storager}>" alt="<{$article.title}>"/><{/if}>
	  <span class="date">[<{$article.pubtime|date:'Y-m-d H:i'}>]</span><a href="<{link app=content ctl=site_article act=index arg0=$article.article_id}>"><{$article.title}></a></li>
      <{/foreach}>
    </ul>
    <{pagers data=$pager}>
</div>