<script>
  /*商品详细通用函数*/
  var priceControl={
    base:<{$goods.current_price}>,
    _format:<{$money_format|default:'false'}>,/*"decimals":2,"dec_point":".","thousands_sep":"","fonttend_decimal_type":0,"fonttend_decimal_remain":2,"sign":"\uffe5"*/
    format:function(num,force){
      var part;
      var sign = this._format.sign || '';
      if(!(num || num === 0)) return;
      var num = num.toFloat();
      if(this._format.cur_rate) {
        num = num * this._format.cur_rate;
      }
      num = num.round(this._format.decimals)+'';
      var p =num.indexOf('.');
      if(p<0){
        p = num.length;
        part = '';
      }else{
        part = num.substr(p+1);
      }
      while(part.length<this._format.decimals){
        part+='0';
      }
      var c=[];
      while(p>0){
        if(p>2){
          c.unshift(num.substr(p-=3,3));
        }else{
          c.unshift(num.substr(0,p));
          break;
        }
      }
      if(!part){
        this._format.dec_point='';
      }
      if(force) {
        sign = '<ins class="price-currency">' + sign + '</ins>';
      }
      return sign + c.join(this._format.thousands_sep)+this._format.dec_point+part;
    },
    number: function(format) {
      if(!format) return null;
      if(typeOf(format) === 'number') return format;
      if(typeOf(format)==='element') format = format.get(format.tagName === 'INPUT' ? 'val' : 'text');
      if(format.indexOf(this._format.sign) == 0) format = format.split(this._format.sign)[1];
      return Number.from(format);
    },
    calc: function(calc, n1, n2, noformat) {
      if(!(n1 || n1 === 0)) return null;
      if(!n2) {
        n1 = this.number(n1);
      }
      else {
        calc = !calc || calc == 'add' ? 1 : -1;
        var t1 = 1, t2 = 1;
        if(typeOf(n1) === 'array') {
          t1 = n1[1];
          n1 = n1[0];
        }
        if(typeOf(n2) === 'array') {
          t2 = n2[1];
          n2 = n2[0];
        }
        var decimals = Math.pow(10, this._format.decimals * this._format.decimals);
        n1 = Math.abs(t1 * decimals * this.number(n1) + calc * t2 * decimals * this.number(n2)) / decimals;
      }
      if(!noformat) n1 = this.format(n1);
      return n1;
    },
    add: function(n1, n2, flag) {
      return this.calc('add', n1, n2, flag);
    },
    diff: function(n1, n2, flag) {
      return this.calc('diff', n1, n2, flag);
    }
  };

  Number.implement({
    interzone:function(min,max){
      var _v=this.toFloat();
      if(!_v)_v=0;
      return _v>=min&&_v<=max;
    }
  });
  var keyCodeFix=[48,49,50,51,52,53,54,55,56,57,96,97,98,99,100,101,102,103,104,105,8,9,46,37,39];


</script>

<div class="goods-info-wrap clearfix" id="goods-viewer">
    <!--暂时针对于团购 开放立即购买功能时需修改-->
  <form action="<{link app=b2c ctl=site_cart act=add}>" class="fastbuy-form" id="fastbuy-form" method="post">
  </form>
  <div id="main-info" class="ec-spec-box">
    <form class="goods-action clearfix" action="<{link app=b2c ctl='site_cart' act='add' arg0='goods'}>" method="post" <{if $goods.setting.buytarget==2}> target="_blank_cart"<{elseif $goods.setting.buytarget==3}> target="_dialog_minicart"<{/if}>>
        <div class="goods-leftbox">
        <{if $env.CONF.b2c.product_detail_picture_conf.position == 'left'}>
            <{include file="site/product/goodspics_y.html" app=b2c}>
        <{else}>
            <{include file="site/product/goodspics.html" app=b2c}>
        <{/if}>
        </div>
        <div class="goods-rightbox">
          <!--商品基本信息区块-->
        <h2 class="goodsname" id="h5o-2"><{$goods.name|escape:"html"}></h2>

        <div class='basic-info list clearfix'>
          <!--商品简介-->
          <p class="goods-brief">
          <span><{t}>商品简介：<{/t}></span>
          <em><{t}><{$goods.brief|default:'暂无'}><{/t}></em>
          </p>
          <!--商品简介区块结束-->
          <{foreach from=$info_page_list item=item}>
            <{include file=$item.file app=$item.app }>
          <{/foreach}>
          <!--商品基本信息区块结束-->

          <!--商品评分-->
          <{if $setting.acomment.switch.discuss == 'on'}>
          <div class="star-div goods-point clearfix"><span class="flt font-black"><{t}>商品评分：<{/t}></span>
            <ul class="fl">
              <li class="star<{$goods_point.avg}>"> </li>

            </ul>
            <em class="fl">（<a href="#consult" onclick="new Fx.Scroll(document,{onComplete:function(){$$('[data-tab-type=goodsdiscuss]')[0]&&$$('[data-tab-type=goodsdiscuss]')[0].fireEvent('click');}}).toElement('goodsDetailMain');return false;"><{$total_point_nums}></a>人评论过）</em>
          </div>
          <{/if}>
          <!--商品评分区块结束-->

          <!--商品促销-->
          <{if $promotionMsg||$promotionOrder}>
          <{$goodshtml.promotion_info}>
          <{/if}>
          <!--商品促销结束-->
        </div>

          <!--================================== 购买区域 开始 ==============================-->
          <{assign var=tmp value=$goods.product}>
          <{assign var=product0bn value=$tmp|array_shift}>

          <{if count($promotions)>0}>
          <ul class="boxBlue list">
            <{foreach from=$promotions item=promotion key=key}>
            <li>
              <strong class="font-red"><{$promotion.pmt_describe}></strong>
              <span class="font11px font-black"><{$promotion.pmt_time_begin|userdate}> ~ <{$promotion.pmt_time_end|userdate}></span>
            </li>
            <{/foreach}>
          </ul>
          <{/if}>

          <{if $goods.marketable == 'false' }>
          <!--已下架-->
          <{foreach from=$specAddHtml item=item}>
            <{$item}>
          <{/foreach}>
          <div class="hight-offline">
            <div class="hightbox">
              <div class="btnBar clearfix" style="line-height:25px;padding:3px 10px 0;">
                <div class="flt"><b><{t}>此商品已下架<{/t}></b></div>
                <div class="floatRight">
                  <ul class="button">
                    <li  class="star-off" <{if $login!="nologin"}>data-type="on" star="<{$goods.goods_id}>"<{/if}> title="<{$goods.name|escape:html}>">
                    <a <{if $login=="nologin"}>href="<{link app="b2c" ctl="site_passport" act="login"}>" <{else}>href="javascript:void(0);" rel="_fav_"<{/if}> class="btn-a listact">
                      <i class="has-icon"> </i>
                      <span >
                        <div class="fav"><{t}>收藏此商品<{/t}></div>
                        <div class="nofav"><{t}>已收藏<{/t}></div>
                      </span>
                    </a>
                    </li>
                    <!-- <li><a href="#" class="btn-send"><{t}>发送给好友<{/t}></a></li> -->
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <{else}>
          <div class="goods-buy-area">
            <!--规格开始-->
            <{if $goods.spec}>
            <div id="spec_area" data-sync-type="goodsspec"></div>
            <{/if}>
            <!--规格结束-->
            <{foreach from=$specAddHtml item=item}>
            <{$item}>
            <{/foreach}>
            <!--购买数量-->
            <{$goodshtml.store}>
            <!--购买数量结束-->
            <!--购买按钮-->
            <div class="hightline">
              <input type="hidden" name="goods[goods_id]" value="<{$goods.goods_id}>" />
              <input type="hidden" name="goods[pmt_id]" value="<{$goods.pmt_id}>" />
              <{if !$goods.spec }>
              <input type='hidden' name='goods[product_id]' value='<{$product0id}>'/>
              <{/if}>
              <div class="btnBar clearfix" <{if count($goods.product)<0}>style="visibility:hidden"<{/if}>>
                <div class="flt btnwrap">
                  <!--页面按钮service形式 start -->
                  <{foreach from=$btn_page_list item=item}>
                  <{include file=$item.file app=$item.app }>
                  <{/foreach}>
                  <!--页面按钮service形式 end -->
                </div>
                <div class="flt btnwrap addcollect">
                  <ul class="button">
                    <li  class="star-off" <{if $login!="nologin"}>star="<{$goods.goods_id}>" data-type="on"<{/if}> title="<{$goods.name|escape:html}>"> <a <{if $login=="nologin"}>href="<{link app="b2c" ctl="site_passport" act="login"}>" <{else}>href="javascript:void(0);" rel="_fav_"<{/if}> class="btn-a listact"><i class="has-icon"> </i><span>
                        <div class="fav"><{t}>收藏此商品<{/t}></div>
                        <div class="nofav"><{t}>已收藏<{/t}></div>
                    </span></a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <!--购买按钮结束-->
          </div>
          <!--分享开始-->
          <div class="share" style="display:none;"></div>
          <!--分享结束-->
        <{/if}>
        </div>
        <!--================================== 配件 开始===============================-->

    </div>
  </form>

  <!--货品列表-->
  <{if $goods.spec}>
  <{include file='site/product/products.html' app=b2c}>
  <{/if}>
  <div style="clear:both"></div>
  <!--================================== 购买区域 结束 ==============================-->
  <!--页面body page start -->

<div class="goods-detail-infos">
  <div class="clearfix goods-detail-tab"></div>
  <div id="app_area" class="app-area goodsDetailContent">
  <{if $goods.adjunct && $adjunctGoodsNum>0}>
  <div class="section pdtdetail" data-sync-type="goodsadjunct" tab="<{t}>可选配件<{/t}> (<em><{$adjunctNum|default:'0'}></em>)" data-order="0">
    <h3 class="hd-font">可选配件</h3>
  </div>
  <{/if}>

  <{*if $promotionNum && $promotionNum>0*}>
  <div class="section pdtdetail" data-sync-type="goodspromotion" tab="<{t}>促销信息<{/t}> (<em><{$promotionNum|default:'0'}></em>)" data-order="0"<{if $goods.adjunct && $adjunctGoodsNum>0}> style="display:none;"<{/if}>>
    <h3 class="hd-font"><{t}>促销信息<{/t}></h3>
  </div>
  <{*/if*}>


  <{if $goods.goodslink && $goods.goodslink>0}>
  <div class="section pdtdetail" data-sync-type="goodslink" tab="<{t}>相关商品<{/t}> (<em><{$goods.goodslink|default:'0'}></em>)" data-order="0" style="display:none;">
    <h3 class="hd-font"><{t}>相关商品<{/t}></h3>
  </div>
  <{/if}>

  <{if $goodsRecommend == 'true'}>
  <div class="section pdtdetail" data-sync-type="goodsrecommend" style="display:none" tab="<{t}>商品推荐<{/t}>" data-order="0" style="display:none;">
    <h3 class="hd-font">商品推荐</h3>
  </div>
  <{/if}>
</div>
</div>

<div id="goodsDetailMain" class="goods-detail-infos">
  <a id="consult"></a>
  <div class="clearfix goods-detail-tab"></div>
  <!--原捆绑商品-->
  <{foreach from=$addons item=tmpl}>
  <{require file=$tmpl}>
  <{/foreach}>
  <div class="goodsDetailContent"> </div>
  <{foreach from=$addons item=tmpl}>
  <{require file=$tmpl}>
  <{/foreach}>
  <div id="intro_basic_info" style="display:none;">
    <{if $goodsbndisplay eq 'true'}>
    <li title=""><{t}>编号：<{/t}><{$goods.bn}></li>
    <{/if}>
    <li title="" ><{t}>货号：<{/t}><{if $goods.product_bn}><{$goods.product_bn}><{else}><{assign var="product0bn" value=$goods.product|current}><{$product0bn.bn}><{/if}></li>
    <{if $goods.brand.brand_name}>
    <li title=""><{t}>品牌：<{/t}><{$goods.brand.brand_name}></li>
    <{/if}>
    <li title=""><{t}>价格区间：
      <{if $goods.minmktprice && $goods.maxmktprice}>
      <{$goods.minmktprice|cur_odr:$order.currency}>&nbsp;-&nbsp;<{$goods.maxmktprice|cur_odr:$order.currency}>
      <{else}>
      <{$goods.mktprice|cur_odr:$order.currency}>
      <{/if}>
      <{/t}>
    </li>
    <{if $env.conf.b2c.goodsprop.display.position != 1}>
    <{foreach from=$goods.type.props item=propord key=key}>
    <{if $propord.show}>
    <{assign var="pkey" value="p_{$key}"}>
    <{assign var="pcol" value=$goods.props.$pkey.value}>
    <{if trim($pcol) !== ''}>
    <li><span><{$propord.name}>：</span><{if $propord.type == 'select'}>
      <{if $env.conf.b2c.goodsprop.display.switch == 'true'}><a href="<{selector args=array("{$goods[category][cat_id]}") value="{$goods[category][cat_id]}" filter=array('cat_id'=>array("{$goods[category][cat_id]}"),"p_{$key}"=>array($pcol))}>" target="_blank"><{$propord.options.$pcol}></a><{else}><{$propord.options.$pcol}><{/if}>
      <{else}><{$pcol}><{/if}>
    </li>
    <{/if}>
    <{/if}>
    <{/foreach}>
    <{/if}>
  </div>
  <img src="<{link app=b2c ctl=site_product act=cron arg=$goods.goods_id }>" width="10" border="none" height="1">
  <!--页面body page end -->
</div>
</div>
<script>
withBrowserStore(function(browserStore){
    browserStore.get('history',function(history){
        history=JSON.decode(history);
        if(!history||typeOf(history)!=='array')history=[];
        if(history.length==40){history.pop()};
        var newhis={
            'goodsId':<{$goods.goods_id}>,
            'goodsName':'<{$goods.name|replace:"'":"\'"}>',
            'goodsImg':'<{$images.gimages[$goods.image_default].small|storager}>',
            'sortTime':+new Date(),
            'viewTime':+new Date()
        };
        if(!history.some(function(i,index){
            if(i['goodsId']==newhis['goodsId']){
                 history.erase(i);
                 history.include(newhis);
                 return true;
            }
            return false;
        })){history.include(newhis);}

        browserStore.set('history',JSON.encode(history));
    });
});


// 可提取脚本文件 gezhi  2012-0416  start
  (function(){
    var LayoutRquest = this.LayoutRquest = new Class({
      Implements: [Events,Options],
      options:{
        threshold:50,
        loadCls:'loading',
        errorCls:'error',
        completeCls:'',
        onRequest:function(item){
          var el, loadCls=this.options.loadCls;
          if(el = item.update) el.addClass(loadCls);
          if(el = item.append) new Element('div',{'data-load':item.name,'class':loadCls}).inject(el);
        },
        onFailure:function(queue){
          var el,loadCls=this.options.loadCls, errorCls=this.options.errorCls;
          if(el = queue.append) el= el.getElement('div[data-load='+queue.name+']');
          if(queue.update) el= queue.update;
          el.removeClass(loadCls);
          //new Element('div',{'data-load':queue.name,'class':errorCls}).inject(el).set('html','请求出错');
        },
        onComplete:function(queue){
          var el,loadCls=this.options.loadCls,errorCls= this.options.errorCls;
          if(el = queue.append) el= el.getElement('div[data-load='+queue.name+']');
          if(el)el.destroy();
          if(el = queue.update)el.removeClass(loadCls).removeClass(errorCls);
        },
        onSuccess:function(){}
      },
      initialize:function(ajax_queue,options){
        if(!ajax_queue.length)return;
        this.sync_queue = ajax_queue;

        this.setOptions(options).fireEvent('load');
        this.initEvent();
      },
      initEvent:function(){
        var timer , self = this; this.cur_sync = {},win = window;
        //win.addEvent('domready',this.progress.bind(this,this.sync_queue));
        win.addEvent('domready',function(){
            self.progress.call(self,self.sync_queue);
        });
        if(!this.sync_queue.length)return;
        win.addEvents({'scroll':loader,'resize':loader});

        function loader(){
          if(timer) return;
          timer = function(){
            self.progress.call(self,self.sync_queue);
            if(!self.sync_queue.length)
            win.removeEvent('scroll',loader).removeEvent('resize',loader);
            timer = null;
          }.delay(200);
        }
      },
      progress:function(queue){
        if(!queue.length)return this;
        var no_require_queue=[],require_queue = [];

        queue.each(function(q){
          if(!q.require)return no_require_queue.push(q);
          require_queue.push(q);
        });

        !!no_require_queue.length && no_require_queue.each(this.filterSync,this);
        !!require_queue.length && this.require(require_queue,queue);
      },
      filterItems:function(queue){

        var offsetY = (queue.update || queue.append).getOffsets().y, appendEl,
        win = window ,top = win.getScroll(), threshold, vh=win.getSize().y ;

        if(appendEl = queue.append) offsetY += appendEl.getSize().y;
        if(threshold = this.options.threshold)  offsetY -= threshold;
        return offsetY <= top.y + vh ? true : false;
      },
      filterSync:function(q){
        if(!q.update && !q.append) return this.sync_queue.erase(q);
        this.filterItems(q) && this.request(q);
      },
      require:function(cur_queue,queue){
        cur_queue.each(function(q){
          var cur_sync=this.cur_sync[q.require];

          if(cur_sync && cur_sync.running)
          return cur_sync.ajaxCb=function(){return this.filterSync(q);};

          if(cur_sync=='complete')this.filterSync(q);

        },this);
      },
      request:function(item){
        if(!item)return;
        var _onSuccess= item.onSuccess || function(){}, _onFailure= item.onFailure|| function(){},
        _onRequest= item.onRequest || function(){}, self = this,
        count = 2 , sync =self.cur_sync[item.name];

        var ele = document.getElement('div[data-sync-type='+item.name+']');
        if(ele){
          if(item.update) item.update = ele;
          else item.append = ele;
        }
        if(!ele && this.detail)return this.sync_queue.erase(item);

        var view = item.view? '&view='+item.view:'';
        if(sync && sync.running)return this;
        return this.cur_sync[item.name]= new Request.HTML(
        Object.append(item,{
          timeout:30000,
          data:'invalid_post_data=1'+view,
          onTimeout:function(async){
            this.cancel();
            if(!count)
            return self.fireEvent('failure',item).complete(item);
            count -= 1; this.send();
          },
          onRequest:function(){
            self.fireEvent('request',item);
            _onRequest.apply(self, arguments);
          },
          onFailure:function(){
            self.fireEvent('failure',item);
            _onFailure.apply(self, arguments);
            self.failure.call(self,item);
          },
          onSuccess:function(rs){
            self.fireEvent('complete',item);
            _onSuccess.apply(self, arguments);
            self.complete.call(self,item);
            if(this.ajaxCb)this.ajaxCb.call(self);
          }
        })).send();
      },
      complete:function(queue){
        this.cur_sync[queue.name] ='complete';
        this.sync_queue.erase(queue);
        if(!this.sync_queue.length)this.success();
      },
      failure:function(queue){
        this.cur_sync[queue.name]='failure';
        this.sync_queue.erase(queue).each(function(q){
          if(q.require==queue.name){
            delete q.require;
            this.filterSync(q);
          }
        },this);
      },
      success:function(){this.fireEvent('success');}
    });
    //   可提取脚本文件 gezhi  2012-0416


    //规格事先加载
    <{if $goods.spec}>
    new Request.HTML({url:'<{link app="b2c" ctl="site_product" act="goodsSpec" arg=$goods.goods_id}>',update:$('spec_area'),name:'goodsspec',timeout:30000,data:'invalid_post_data=1'}).send();
    <{/if}>

    var param = {
      <{if $goods.adjunct && $adjunctGoodsNum>0}>
      goodsAdjunct:{update:$('app_area'),name:'goodsadjunct'},
      <{/if}>
      <{*if $promotionMsg||$promotionOrder*}>
      goodsPromotion:{append:$('app_area'),name:'goodspromotion'<{if $goods.adjunct && adjunctGoodsNum>0}>,require:'goodsadjunct'<{/if}>},
      <{*/if*}>
      <{if $goods.goodslink && $goods.goodslink>0}>
      goodsLink:{append:$('app_area'),name:'goodslink',require:'goodspromotion'},
      <{/if}>
      <{if $goodsRecommend == 'true'}>
      goodsRecommend:{append:$('app_area'),name:'goodsrecommend'<{if $goods.goodslink && $goods.goodslink>0}>,require:'goodslink'<{else}>,require:'goodspromotion'<{/if}>},
      <{/if}>
      goodsBodyContent:{update:$$('.goodsDetailContent')[1],name:'goodsbodycontent',
        onSuccess:function(){
          this.detail = true;
          $$('#goodsDetailMain ul.goods-intro-list').set('html',$('intro_basic_info').get('html'));
          new DataLazyLoad();
          var self = this;
          $$('.goodsDetailTab').addEvent('click',function(e){
              var elem = this.hasClass('goodsDetailTab') ? this : this.getParent('.goodsDetailTab'),
                  type = elem.get('data-tab-type'),
                  queue = self.sync_queue.filter(function(r){
                      return r.name == type;
                  });
              if(queue[0]){
                  queue[0]['onComplete']=function(){$$('.pdtdetail[data-sync-type='+type+'] .displaydiv').show();};
                  self.request(queue[0]);
              }
              this.removeEvent('click',arguments.callee);
          });
        }
      },
      goodsParams:{append:$$('.goodsDetailContent')[1],name:'goodsparams',require:'goodsbodycontent'},
      goodsSellLoglist:{append:$$('.goodsDetailContent')[1],name:'goodssellloglist',require:'goodsparams'},
      goodsDiscuss:{append:$$('.goodsDetailContent')[1],name:'goodsdiscuss',require:'goodsparams'},
      goodsConsult:{append:$$('.goodsDetailContent')[1],name:'goodsconsult',require:'goodsdiscuss'}

    },queue_items = [];

    Object.each(param,function(v,k){
    queue_items.push(Object.append({
        url:'<{link app="b2c" ctl="site_product" act="'+k+'" arg=$goods.goods_id}>'
    },v));
    });

    if(<{$async_request_list}>) {
        Object.each(<{$async_request_list}>,function(v,k){
            queue_items.push({name:k,url:v,append:$('app_area')});
        });
    }


    new LayoutRquest(queue_items);
  })();
</script>


